.SideMenu {
  background-color: #0000007a;
  min-height: 100vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  backdrop-filter: blur(15px);
  transition: all 800ms ease-out;
}
.SideMenu:hover {
  width: 30vw;
  background-color: #000000b3;
}
.SideMenu:hover .text{
  opacity: 0.8;
}
.SideMenu:hover button {
  padding: 10px 15px;
}
.SideMenu button {
  padding: 20px 8px 20px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-family: Poppins, Arial, serif;
  font-weight: 300;
  font-size: 1.3rem;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  opacity: 0.7;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline:none;
  transition: all 800ms ease-out;
}
.SideMenu button:hover{
  opacity: 1;
}

.SideMenu .icon {
  color: #fff;
  height:3em;
  width: auto;
}

.SideMenu .text {
  margin-right: -80px;
  opacity: 0;
  transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
  padding: 0 8px;
  transition-delay: calc(30ms + var(--delay));
}
