.SideMenu {
  background-color: #1111117a;
  min-height: 100vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: width 0.5s ease-out;
}
.SideMenu:hover {
  width: 30vw;
  background-color: #111111b3;
  transition: width 1s ease-out;
}
.SideMenu:hover .text{
  display: inline;
}
.SideMenu a {
  padding: 20px 8px 20px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-family: Poppins, Arial, serif;
  font-weight: 300;
  font-size: 1.3rem;
  display: flex;
  justify-content:center;
  align-items: center;
  opacity: 0.7;
}
.SideMenu a:hover{
  opacity: 1;
}

.SideMenu .icon {
  color: #fff;
  height:3em;
  width: auto;
}

.SideMenu .text {
  display: none;
  transition: display 1s;
  padding: 0 8px;
}
