.aboutContainer {
  position: absolute;
  display: flex;
  width: 40vw;
  top: 190%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  padding: 10px;
  color: #fff;
  margin: 0 auto;
  z-index: 1;
  background-color: #0000007a;
}

p {
  font-size: 0.8em;
}
